html {
  background-color: #06284b;
  font-family: "Roboto Slab", serif;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  color: white;
}

h1 {
  font-size: 3rem;
  height: 2rem;
}

h2,
button {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}
a {
  text-decoration: none;
}

li {
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

button {
  color: white;
  background-color: transparent;
  border: 0;
  padding: 5px;
}

#page1 {
  height: 100vh;
}

.home {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 70% 30%;
  justify-content: flex-end;
  gap: 20px;
}

.hero {
  display: flex;
  justify-content: space-between;
  grid-area: 1/1/2/-1;
  margin-top: 20px;
  margin-bottom: 50px;
}

.background-img {
  grid-area: 1/1/-1/-1;
  height: 100%;
}

.page-img {
  height: 100%;
  width: 100%;
  opacity: 10%;
  mix-blend-mode: overlay;
  object-fit: cover;
}

.intro,
.avatar {
  height: 100%;
  grid-column: span 6;
}

.intro {
  grid-area: 1/1/2/6;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-content: center;
  margin-left: 10px;
}

.avatar {
  grid-area: 1/-1/2/7;
  margin-right: 10px;
}

.profile-img {
  height: 100%;
  object-fit: scale-down;
  border-radius: 50%;
  border: 10px solid white;
}

.my-name {
  font-family: "Kalam", cursive;
  color: #0ad1f2;
}

.button {
  display: flex;
  background-color: #00bfff;
  border: 0;
  border-radius: 20px;
  height: 75px;
  width: 60%;
  padding: 5px;
  justify-content: center;
}

.my-details {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 50px 10px 0 10px;
}

.education,
.work,
.skills,
.projects,
.get-in-touch,
.footer {
  grid-column: span 12;
}

.pro,
.pxivision,
.date,
.education-title,
.work-title,
.passapp-title,
.cartiva-title,
.skills-title,
.muslim-app-title,
.muslim-app-body-list-title,
.find-wi-title,
.get-in-touch-title {
  color: #0ad1f2;
}

.skill-logos {
  grid-area: 2/1/-1/-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.skill-logo {
  grid-column: span 2;
  height: 200px;
}

.logo {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.get-in-touch-button {
  display: flex;
  background-color: #00bfff;
  border: 0;
  border-radius: 20px;
  height: 75px;
  width: 30%;
  padding: 5px;
  justify-content: center;
}

.footer {
  color: #06284b;
  font-weight: 500;
  height: 10vh;
  background-color: #0ad1f2;
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-top: 50px;
}

.brand-name > p {
  color: #06284b;
}

.socials {
  display: flex;
  gap: 20px;
}
.github,
.linkedin,
.twitter {
  color: #06284b;
  font-weight: 600;
}

@media (max-width: 960px) {
  html {
    text-align: center;
  }
  h1 {
    font-size: 2.5rem;
  }

  h2,
  button {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }

  .home {
    grid-template-rows: 80% 20%;
  }

  .hero {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .intro {
    height: 50%;
    gap: 10px;
    margin-right: 10px;
  }

  .avatar {
    margin-left: 10px;
    height: 50%;
  }

  .button {
    width: 40%;
    align-self: center;
  }

  .my-details {
    margin-top: 30px;
  }

  .skill-logos {
    margin-top: 30px;
  }

  .skill-logo {
    height: 150px;
  }

  .get-in-touch {
    display: flex;
    flex-direction: column;
  }

  .get-in-touch-button {
    height: 65px;
    width: 30%;
    align-self: center;
  }

  .footer {
    margin-top: 30px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 2rem;
  }

  h2,
  button {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 0.85rem;
  }

  li {
    font-size: 0.85rem;
  }

  .home {
    grid-template-rows: 80% 20%;
  }

  .hero {
    margin-top: 20px;
  }

  .intro {
    margin-top: 30px;
  }

  .button {
    width: 30%;
  }

  .skill-logos {
    margin-top: 20px;
  }

  .get-in-touch-button {
    height: 54px;
  }
}

@media (max-width: 490px) {
  h1 {
    font-size: 1.8rem;
    height: 1.5rem;
  }

  h2,
  button {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.9rem;
  }

  p {
    font-size: 0.8rem;
  }

  li {
    font-size: 0.8rem;
  }

  .button {
    width: 25%;
    height: 15%;
  }

  .get-in-touch-button {
    height: 35px;
  }
}
